.singleItemCard {
  display: flex;
  width: 40%;
  justify-content: center;
  align-items: center;
  box-shadow: 10px 10px 20px rgb(150, 150, 150);
  border-radius: 10px;
  margin-bottom: 30px;
  padding: 20px;
  background-color: white;
  position: relative;
}

.itemImage {
  width: 40%;
}

.addDelete {
  width: 80%;
}
.quantity {
  width: 40%;
  text-align: center;
}

.deleteIcon {
  cursor: pointer;
  transition: 0.15s ease-in;
}
.deleteIcon:hover {
  transform: scale(1.1);
}

.deleteIconDiv {
  position: absolute;
  top: 20px;
  right: 20px;
}

@media only screen and (max-width: 375px) {
  .singleItemCard {
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 20px rgb(150, 150, 150);
    border-radius: 10px;
    margin-bottom: 30px;
    padding: 20px;
    background-color: white;
    position: relative;
  }

  .itemImage {
    width: 70%;
  }

  .addDelete {
    width: 100%;
  }
  .quantity {
    width: 23%;
  }
  .total {
    font-size: 14px;
    padding-top: 10px;
  }
}
