.userInfoCard {
  min-width: 50%;
  max-width: 80%;
  height: 80%;
  box-shadow: 0 0 30px #c2c2c2;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.logoutText {
  position: absolute;
  cursor: pointer;
  right: 30px;
  bottom: 10px;
  padding: 0px;
  font-weight: 500;
  color: rgb(25, 137, 207);
  transition: ease-in 0.1s;
}

.logoutText:hover {
  transform: scale(1.1);
}

.container {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.username,
.availableMoney,
.cardsObtained {
  width: 80%;
  font-size: 2rem;
}
