.container {
  background-color: white;
  height: 6vh;
  display: flex;
  align-items: center;
  padding: 1rem;
}

.cartImage {
  margin-left: auto;
  margin-right: 10px;
  height: 4vh;
  width: auto;
  max-height: 50px;
  caret-color: transparent;
}

.cartImage:hover {
  cursor: pointer;
}

@media (max-width: 768px) {
  .container {
    height: 8vh;
    padding: 0.5rem;
  }

  .cartImage {
    max-height: 30px;
  }
}

@media (max-width: 480px) {
  .container {
    height: 7vh;
    padding: 0.3rem;
  }

  .cartImage {
    max-height: 25px;
  }
}
