.container {
  background-color: white;
  display: flex;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  height: 10vh; /* Fixed height */
}

.cartImage {
  margin-left: auto;
  margin-right: 10px;
  height: 4vh;
  width: auto;
  max-height: 40px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .cartImage {
    max-height: 30px;
  }
}

@media (max-width: 480px) {
  .cartImage {
    max-height: 25px;
  }
}
