@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

.container {
  display: flex;
  margin: 20px;
  width: 80%;
  box-shadow: 15px 10px 30px rgba(133, 243, 65, 0.881);
  caret-color: transparent;
  background-color: azure;
  border-radius: 20px;
  transform: scale(0.95);
}

.container:hover {
  transition: 0.5s ease;
  transform: scale(1.005);
  cursor: pointer;
}

.image {
  margin: 20px;
  height: 200px;
}

.info {
  font-family: "Roboto";
  font-weight: 200;
}
.rarity,
.price,
.type {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 1.1rem;
}
