.loginForm {
  display: flex;
  flex-direction: column;
  height: 70%;
  min-width: 50%;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 50px #a0a0a0;
  position: relative;
}

.inputStyle {
  height: 2rem;
  border-radius: 5px;
  padding: 10px;
  font-size: 2rem;
  border: 1px slategray solid;
  caret-color: auto;
}

.closeButton {
  background-color: red;
  border: none;
  color: white;
  padding: 8px 11px;
  position: absolute;
  border-radius: 5px;
  top: 1.5rem;
  right: 2rem;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.loginButton {
  border: none;
  padding: 10px 5px;
  width: 10rem;
  border-radius: 30px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  font-weight: 500;
  cursor: pointer;
  font-size: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginButton:hover {
  background-color: #dadada;
}

.element {
  min-width: 50%;
  margin: 20px;
  font-size: 2rem;
  font-weight: 700;
  display: flex;
  flex-direction: column;
}

.SignUpHere {
  color: rgb(25, 137, 207);
  cursor: pointer;
}

.SignUpHere:hover {
  text-decoration: underline;
}
@media (max-width: 1367px) {
  .container {
    margin-bottom: 10px;
  }
  .loginForm {
    width: 60%;
    height: 90%;
    padding-bottom: 20px;
  }
  .inputStyle {
    border-radius: 5px;
    border: 1px slategray solid;
    width: 90%;
    height: 20px;
  }
  .element {
    font-size: 1.8rem;
    font-weight: 700;
  }
}

@media (max-width: 1024px) {
  .loginForm {
    width: 80%;
    height: 80%;
    padding-bottom: 20px;
    padding-top: 10px;
  }

  .inputStyle {
    border-radius: 5px;
    border: 1px slategray solid;
    width: 90%;
    height: 20px;
  }
  .element {
    font-size: 1.5rem;
    font-weight: 700;
  }
}

@media (max-width: 768px) {
  .loginForm {
    width: 90%;
    height: 90%;
    padding-bottom: 20px;
    padding-top: 10px;
  }

  .inputStyle {
    border-radius: 5px;
    border: 1px slategray solid;
    width: 90%;
    height: 20px;
  }
  .element {
    font-size: 1.1rem;
    font-weight: 700;
  }
}
