body {
  padding: 0;
  margin: 0;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.909);
}

.container {
  display: grid;
  grid-template-columns: 1fr;
  height: 100%;
}

.main_div {
  /* background-image: url("../assets/bg-1.jpg"); */
  background-color: rgba(255, 255, 255, 0.909);
}

.filterButton {
  display: flex;
  flex-wrap: wrap;
}

.rarityIcons {
  display: flex;
  margin-left: 2rem;
  box-shadow: 10px 10px 5px #c2c2c2;
  height: 50px;
}

.filterRarity {
  display: flex;
}

.rarityIcons:hover {
  cursor: pointer;
}

.seriesIcons {
}

@media only screen and (min-width: 443px) {
  .container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 600px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 768px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
@media only screen and (min-width: 1024px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1244px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media only screen and (min-width: 1386px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}
